@import "icomoon.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    @apply object-cover;
  }
}

@layer components {
  .h1 {
    font-size: clamp(1.8rem, 3vw + 1.5rem, 7rem);
    @apply font-semibold uppercase;
  }

  .h2 {
    font-size: clamp(1rem, 2vw + 0.8rem, 3.5rem);
    @apply font-semibold uppercase;
  }

  .h3 {
    font-size: clamp(0.8rem, 1.5vw + 0.1rem, 1.6rem);
    @apply font-semibold uppercase;
  }
}

@layer utilities {
  .hidden-child > *:not(:last-child) {
    @apply hidden lg:flex;
  }

  .dark-effect {
    @apply hover:bg-white hover:text-dark active:bg-white active:text-dark;
  }

  .light-effect {
    @apply hover:bg-dark hover:text-white active:bg-dark active:text-white;
  }

  .link-hover {
    @apply transform-gpu transition-all duration-300 hover:scale-95 active:scale-95 group-hover:scale-95 group-active:scale-95;
  }

  .fluid-px {
    padding-left: clamp(0.75rem, 2vw + 0.5rem, 4rem);
    padding-right: clamp(0.75rem, 2vw + 0.5rem, 4rem);
  }
  .fluid-pl {
    padding-left: clamp(0.75rem, 2vw + 0.5rem, 4rem);
  }

  .fluid-badge {
    max-width: clamp(8rem, 4vw + 8rem, 21rem);
  }
}
